# OS X folder attributes
.DS_Store

# Xcode's folder for intermediate data:
Build
DerivedData

# temp nibs and swap files
*~.nib
*.swp

# Xcode's user settings
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.xcuserdata
*.xcuserstate