* {
  margin: 0; }

html, body {
  height: 100%; }

body {
  padding: 0;
  position: relative;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #FFF;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #eeeeee), color-stop(300px, #eeeeee), color-stop(300px, white), color-stop(400px, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #eeeeee 0, #eeeeee 300px, white 300px, white 400px);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to right, #eeeeee 0, #eeeeee 300px, white 300px, white 400px);
  /* W3C */ }

a {
  color: blue; }
  a:visited {
    color: blue; }
  a:hover {
    color: red; }

hr {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  height: 0;
  border: 0 solid #CCC;
  border-top-width: 1px;
  margin: 10px 0; }

div.nav {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 32px;
  line-height: 32px;
  width: 100%;
  background: #DDD;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  div.nav > div {
    position: block;
    height: 32px;
    line-height: 32px;
    padding: 0 10px; }
    div.nav > div a {
      float: left;
      margin-right: 5px;
      display: inline-block;
      height: 32px;
      line-height: 32px;
      text-decoration: none;
      font-size: 0.8em;
      color: #333; }
      div.nav > div a:hover {
        color: #000;
        text-decoration: underline; }

div.menu {
  z-index: 1;
  position: absolute;
  background: #EFEFEF;
  width: 300px;
  padding-top: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

div.content {
  padding: 62px 30px 30px 330px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

div.menu ul {
  list-style: none;
  padding-left: 13px; }
div.menu > ul {
  padding: 10px 10px 10px 25px; }
div.menu li {
  position: relative;
  padding: 0 5px 0 0; }
  div.menu li.current > span, div.menu li.current > a {
    color: #000; }
div.menu a, div.menu span {
  color: #666;
  font-weight: 600;
  font-size: 0.9em;
  text-decoration: none; }
div.menu a:hover {
  text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  margin: 16px 0; }

p {
  margin-top: 8px;
  margin-bottom: 12px; }

.clear {
  float: left;
  clear: both; }

.image-left {
  float: left;
  padding-right: 20px; }

.inline {
  display: inline-block; }

div.warning {
  background: #FEE;
  color: red;
  padding: 10px;
  font-size: 0.8em;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  div.warning p {
    margin: 0;
    padding: 10px;
    border: 1px dashed red;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

div.left {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  text-align: left; }

div.centre {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  text-align: center; }

div.lead-title {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  min-height: 128px;
  padding: 40px 0 0 148px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  div.lead-title > img {
    position: absolute;
    top: 0;
    left: 0; }
  div.lead-title > h1 {
    margin: 0; }
