<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_GB</string>
	<key>CFBundleIdentifier</key>
	<string>com.Giancarlo-Mariot.Medusa.help</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MedusaHelp</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSignature</key>
	<string>hbwr</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>HPDBookAccessPath</key>
	<string>MedusaHelp.html</string>
	<key>HPDBookIconPath</key>
	<string>Shared/MedusaHelp16px.png</string>
	<key>HPDBookIndexPath</key>
	<string>Medusa.helpindex</string>
	<key>HPDBookKBProduct</key>
	<string>_PRODUCT_CODENAME_</string>
	<key>HPDBookKBURL</key>
	<string>http://medusa.mariot.me.uk</string>
	<key>HPDBookRemoteURL</key>
	<string>http://medusa.mariot.me.uk</string>
	<key>HPDBookTitle</key>
	<string>Medusa Help</string>
	<key>HPDBookType</key>
	<string>3</string>
</dict>
</plist>
